.row-layout {
    display: flex;
}
.creator-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.reveal-dash-board {
    min-width: 400px;
    min-height: 200px;
}
